<html>
    <head>
        <link href = '/font/style.css' type = 'text/css' rel = 'stylesheet'>
    </head>
    <body>
        <h3> Thank you for the JSON data : <% FNAME %> <% LNAME %> </h3>
    </body>
</html>