<html>
    <head>
        <link href = '/font/style.css' type = 'text/css' rel = 'stylesheet'>
    </head>
    <body>
        <h2>Object Oriented Programming for <h3><%= Qstr1 %></h3> in <h3><%= Qstr2 %></h3> </h2>
    </body>
</html>